<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="icon" href="/assets/favicon.ico" />
        <link href="/assets/css/tailwind-output.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1>Unassigned Tickets</h1>
            <p id="unassigned-ticket-value"></p>
        </div>
        <form id="form">
          <input name="file" type="file" required>
          <button type="submit">Send</button>
        </form>
    </body>
    <script src="/assets/js/freshservice.js"></script>
</html>
